﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    @* Sweet Alert *@
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css" />*@
    <link rel="stylesheet" href="~/Styles/sweetalert.css" />

    @* materialize *@
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Date Time Picker-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />

    @* Metronic *@
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Roboto:300,400,500,600,700" rel="stylesheet">
    <link href="~/Content/Metronic/assets/plugins/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css">
    <link href="~/Content/Metronic/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css">
    <link href="~/Content/Metronic/assets/css/style.bundle.css" rel="stylesheet" type="text/css">
    @*<link href="~/Content/images/wtr.jpg" rel="shortcut icon">*@
    <script src="http://maps.google.com/maps-api-v3/api/js/39/10/intl/en_au/util.js" type="text/javascript" charset="UTF-8"></script>
    <script src="http://maps.google.com/maps-api-v3/api/js/39/10/intl/en_au/common.js" type="text/javascript" charset="UTF-8"></script>

</head>
<body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed
      kt-subheader--enabled kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-aside--minimize">
    <div class="kt-header-mobile  kt-header-mobile--fixed " id="kt_header_mobile">
        <div class="kt-header-mobile__logo">
            <a href="#">
                <img alt="Logo" src="#" style="height:20px;width:20px">
            </a>
        </div>
        <div class="kt-header-mobile__toolbar">
            <div class="kt-header-mobile__toolbar-toggler kt-header-mobile__toolbar-toggler--left" id="kt_aside_mobile_toggler">
                <span></span>
            </div>
            <div class="kt-header-mobile__toolbar-toggler" id="kt_header_mobile_toggler">
                <span></span>
            </div>
            <div class="kt-header-mobile__toolbar-topbar-toggler" id="kt_header_mobile_topbar_toggler">
                <i class="flaticon-more"></i>
            </div>
        </div>
    </div>

    <div class="kt-grid kt-grid--hor kt-grid--root">
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">

            <!-- begin:: Aside -->
            <button class="kt-aside-close " id="kt_aside_close_btn">
                <i class="la la-close"></i>
            </button>
            <div class="kt-aside  kt-aside--fixed  kt-grid__item kt-grid kt-grid--desktop kt-grid--hor-desktop" id="kt_aside">

                <!-- begin:: Aside Menu -->
                <div class="kt-aside-menu-wrapper kt-grid__item kt-grid__item--fluid" id="kt_aside_menu_wrapper">
                    <div class="kt-aside-menu kt-scroll ps" id="kt_aside_menu"
                         style="height: 575px; overflow: hidden;background-color:#112349" data-ktmenu-dropdown-timeout="500" data-ktmenu-scroll="1" data-ktmenu-vertical="1">
                        <ul class="kt-menu__nav ">

                            <li class="kt-menu__item" aria-haspopup="true">
                                <a class="kt-menu__link " href="@Url.Action("Index", "Film")">
                                    <i class="kt-menu__link-icon fa fa-video"></i>
                                    <span class="kt-menu__link-text">Film</span>
                                </a>
                            </li>
                            <li class="kt-menu__item" aria-haspopup="true">
                                <a class="kt-menu__link " href="@Url.Action("Index", "Artis")">
                                    <i class="kt-menu__link-icon fa fa-users"></i>
                                    <span class="kt-menu__link-text">Artis</span>
                                </a>
                            </li>
                            <li class="kt-menu__item" aria-haspopup="true">
                                <a class="kt-menu__link " href="@Url.Action("Index", "Negara")">
                                    <i class="kt-menu__link-icon fa fa-user-friends"></i>
                                    <span class="kt-menu__link-text">Negara</span>
                                </a>
                            </li>
                        </ul>
                        <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                            <div tabindex="0" class="ps__thumb-x" style="left: 0px; width: 0px;"></div>
                        </div>
                        <div class="ps__rail-y" style="top: 0px; right: 2px;">
                            <div tabindex="0" class="ps__thumb-y" style="top: 0px; height: 0px;"></div>
                        </div>
                    </div>
                </div>

                <!-- end:: Aside Menu -->
            </div>

            <!-- end:: Aside -->
            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">

                <!-- begin:: Header -->
                <div class="kt-header kt-grid kt-grid--ver  kt-header--fixed " id="kt_header">

                    <!-- begin:: Aside -->
                    <div class="kt-header__brand kt-grid__item" id="kt_header_brand" kt-hidden-height="80" style="background-color:#112349">
                        <div class="kt-header__brand-logo">
                            <a href="#">
                                <img alt="@ViewBag.Title" src="~/Content/Metronic/assets/media/company-logos/logo-4.png" style="height:60px;width:60px">
                            </a>
                        </div>
                    </div>

                    <!-- end:: Aside -->
                    <!-- begin: Header Menu -->
                    <button class="kt-header-menu-wrapper-close" id="kt_header_menu_mobile_close_btn">
                        <i class="la la-close"></i>
                    </button>
                    <div class="kt-header-menu-wrapper kt-grid__item kt-grid__item--fluid">
                        <div class="kt-header-menu kt-header-menu-mobile  kt-header-menu--layout-default ">
                            <div class="kt-user-card-v2">
                                <div class="kt-quick-search kt-quick-search--dropdown kt-quick-search--result-compact kt-quick-search--has-result">
                                    <form class="kt-quick-search__form">
                                        <div class="input-group">
                                            <input type="text" class="form-control kt-quick-search__input"
                                                   placeholder="Search for..." aria-label="Search"
                                                   aria-describedby="basic-addon2"
                                                   id="txt-search" name="txt-search">
                                            <div class="input-group-append">
                                                <button class="btn btn-pill btn-upper btn-bold btn-font-sm kt-subheader-search__submit-btn"
                                                        type="button" id="btn-search" name="btn-search">
                                                    <i class="flaticon2-search-1"></i>
                                                </button>
                                                <button class="btn btn-pill btn-upper btn-bold btn-font-sm kt-subheader-search__submit-btn"
                                                        type="button" id="btn-reset" name="btn-reset">
                                                    <i class="la la-close"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- end: Header Menu -->
                    <!-- begin:: Header Topbar -->
                    <div class="kt-header__topbar">

                        <!-- begin:: nama jabatan -->

                        <div class="kt-header-menu-wrapper kt-grid__item kt-grid__item--fluid" id="kt_header_menu_wrapper">
                            <div class="kt-header-menu kt-header-menu-mobile  kt-header-menu--layout-default " id="kt_header_menu">
                                <div class="kt-user-card-v2">
                                    <div class="kt-user-card-v2__details">
                                        <div class="kt-header__topbar-wrapper" data-offset="10px,0px">
                                            <div class="kt-user-card-v2__name">
                                                Welcome
                                            </div>
                                            <div class="kt-user-card-v2__email">
                                                Your Name
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- end:: nama jabatan -->
                        <!--begin: User bar -->
                        <div class="kt-header__topbar-item kt-header__topbar-item--user">
                            <div class="kt-header__topbar-wrapper" data-offset="10px,0px" data-toggle="dropdown">
                                <img class="kt-hidden" alt="Pic" src="#">
                                <span class="kt-header__topbar-icon kt-hidden-"><i class="flaticon2-user-outline-symbol"></i></span>
                            </div>
                            <div class="dropdown-menu dropdown-menu-fit dropdown-menu-left dropdown-menu-anim dropdown-menu-xl">

                            </div>
                        </div>
                        <!--end: User bar -->
                    </div>
                    <!-- end:: Header Topbar -->
                </div>
                <!-- end:: Header -->
                <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
                    <!-- begin:: Content -->
                    @RenderBody()
                    <!-- end:: Content -->
                </div>
                <!-- begin:: Footer -->
                <div class="kt-footer  kt-grid__item kt-grid kt-grid--desktop kt-grid--ver-desktop" id="kt_footer">
                    <div class="kt-container  kt-container--fluid ">
                        <div class="kt-footer__copyright">
                            2020&nbsp;©&nbsp;<a class="kt-link" href="#" target="_blank"></a>
                        </div>
                        <div class="kt-footer__menu">
                            <a class="kt-footer__menu-link kt-link" href="#" target="_blank"></a>
                            <a class="kt-footer__menu-link kt-link" href="#" target="_blank"></a>
                            <a class="kt-footer__menu-link kt-link" href="#" target="_blank"></a>
                        </div>
                    </div>
                </div>
                <!-- end:: Footer -->
            </div>
        </div>
    </div>

    <script>
        var KTAppOptions = {
            "colors": {
                "state": {
                    "brand": "#22b9ff",
                    "light": "#ffffff",
                    "dark": "#282a3c",
                    "primary": "#5867dd",
                    "success": "#34bfa3",
                    "info": "#36a3f7",
                    "warning": "#ffb822",
                    "danger": "#fd3995"
                },
                "base": {
                    "label": ["#c5cbe3", "#a1a8c3", "#3d4465", "#3e4466"],
                    "shape": ["#f0f3ff", "#d9dffa", "#afb4d4", "#646c9a"]
                }
            }
        };
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

    @* Metronic *@
    <script src="~/Content/Metronic/assets/plugins/global/plugins.bundle.js" type="text/javascript"></script>
    <script src="~/Content/Metronic/assets/js/scripts.bundle.js" type="text/javascript"></script>
    <script src="~/Content/Metronic/assets/plugins/custom/fullcalendar/fullcalendar.bundle.js" type="text/javascript"></script>
    <script src="~/Content/Metronic/assets/js/pages/dashboard.js" type="text/javascript"></script>
    <script src="~/Content/Metronic/assets/js/pages/components/extended/sweetalert2.js"></script>
    <!-- Date Time Picker-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <!--Sweet Alert-->
    <script src="~/Scripts/sweetalert.min.js"></script>
    @*<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>*@

    @RenderSection("scripts", required: false)
</body>
</html>
