﻿@model _03.Cinema_Info.ViewModel.FilmViewModel

<div class="row">
    @*<div class="col-md-3">
        <div class="form-group">
            <label class="label-form">Kode Film *</label>
            <div class="input-group">
                <input autocomplete="off" type="text" name="kode_film" class="form-control required" id="kode_film"
                       data-warning-target="kode_film-warning" onkeyup="checkKodeFilm()" />
            </div>
            <span id="kode_film-warning" style="color:red ; font-size: 12px"></span>
        </div>
    </div>*@

    <div class="col">
        <div class="form-group">
            <label class="label-form">Judul Film *</label>
            <div class="input-group">
                <input type="text"  name="nama_film" class="form-control required" id="nama_film"
                       data-warning-target="nama_film-warning" />
            </div>
            <span id="nama_film-warning" style="color:red ; font-size: 12px"></span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="form-group">
            <label class="label-form">Pendapatan *</label>
            <div class="input-group">
                <input type="text"  name="pendapatan" class="form-control required" id="pendapatan"
                       data-warning-target="pendapatan-warning" />
            </div>
            <span id="pendapatan-warning" style="color:red ; font-size: 12px"></span>
        </div>
    </div>

    <div class="col">
        <div class="form-group">
            <label class="label-form">Jumlah Nominasi Film *</label>
            <div class="input-group">
                <input type="text"  name="nominasi" class="form-control required" id="nominasi"
                       data-warning-target="nominasi-warning" />
            </div>
            <span id="nominasi-warning" style="color:red ; font-size: 12px"></span>
        </div>
    </div>

    <div class="col">
        <div class="form-group">
            <label class="label-form">Tanggal Rilis *</label>
            <div class="input-group">
                <input type="text" readonly name="tahun_rilis" class="datepicker form-control required" id="tahun_rilis"
                       data-date-end-date="0d" data-warning-target="tahun_rilis-warning" />
            </div>
            <span id="tahun_rilis-warning" style="color:red ; font-size: 12px"></span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <a href="#" class="btn btn-primary" id="" onclick="submitForm()">Tambahkan</a>
    </div>
</div>

<script type="text/javascript">
    var Vocab = Vocab || {};
    Vocab.InputRequired = "This input is required";
    Vocab.InputFormatFalse = "Tidak sesuai format";

    $(document).ready(function () {
        var options = {
            format: 'MM dd, yyyy',
            todayHighlight: true,
            autoclose: true,
            orientation: "left top"
        };
        $(".datepicker").datepicker(options);
    });

    function submitForm() {
        if (CheckValidation()) {
            var pdpt = TrimRupiah();
            var item = {
                //kode_film : $("#kode_film").val(),
                nama_film: $("#nama_film").val(),
                pendapatan: pdpt,
                nominasi: $("#nominasi").val(),
                tahun_rilis: $("#tahun_rilis").val(),
            };
            $.ajax({
                url: '@Url.Action("Create","Film")',
                type: 'post',
                data: { paramModel: item },
                success: function (result) {
                    if (result.success) {
                        ShowList(1, "");
                        swal("Berhasil Ditambahkan!", {
                            icon: "success",
                        });
                        $("#kt_modal_4").modal("hide");
                    }
                    else {
                        swal("Gagal!", {
                            icon: "error",
                        });
                    }
                }
            });
        }

    }

    function CheckValidation() {
        var valid = true;

        $(".required").each(function (i) {
            if ($(this).val() === "" || $(this).val() == null) {
                $("#" + $(this).data("warning-target")).text(Vocab.InputRequired);
                valid = false;
            } else {
                $("#" + $(this).data("warning-target")).text("");
            }
        })

        valid = valid && checkJudulFilm();

        return valid;
    }

    function checkJudulFilm() {
        var jdl = $("#nama_film").val();
        var result = true;
        $.ajax({
            async: false,
            url: '@Url.Action("CheckJudulFilm", "Film")',
            type: 'get',
            data: { judul: jdl },
            success: function (result) {
                if (result.success) {
                    $("#nama_film-warning").text("");
                }
                else {
                    $("#nama_film-warning").text("sudah ada");
                }
            }
        });

        if ($("#nama_film-warning").text() == "") {
            result = true;
        }
        else {
            result = false;
        }
        return result;
    }

    var rupiah = document.getElementById('pendapatan');

    rupiah.addEventListener('keyup', function (e) {
		// tambahkan 'Rp.' pada saat form di ketik
		// gunakan fungsi formatRupiah() untuk mengubah angka yang di ketik menjadi format angka
        rupiah.value = formatRupiah(this.value, 'Rp. ');
    });

    /* Fungsi formatRupiah */
    function formatRupiah(angka, prefix) {
		var number_string = angka.replace(/[^,\d]/g, '').toString(),
		split   		= number_string.split(','),
		sisa     		= split[0].length % 3,
		rupiah     		= split[0].substr(0, sisa),
		ribuan     		= split[0].substr(sisa).match(/\d{3}/gi);

		// tambahkan titik jika yang di input sudah menjadi angka ribuan
		if(ribuan){
			separator = sisa ? '.' : '';
			rupiah += separator + ribuan.join('.');
		}

		rupiah = split[1] != undefined ? rupiah + ',' + split[1] : rupiah;
        return prefix == undefined ? rupiah : (rupiah ? 'Rp. ' + rupiah : '');
    }

    function TrimRupiah() {
        //Rp. 60.000.000
        var str = $("#pendapatan").val(); 
        var res = str.replace(/R|p|\.| /g, "");

        //var res = str.replace("R", "");
        //var result = res;

        //res = result.replace("p", "");
        //result = res;

        //res = result.replace(/\./g, "");
        //result = res;

        //res = result.replace(" ", "");
        //result = res;        

        //return result;
        return res;
    }
</script>