﻿@model _03.Cinema_Info.ViewModel.FilmViewModel

@{
    IEnumerable<_03.Cinema_Info.ViewModel.DetailArtisFilmViewModel> artis = (IEnumerable<_03.Cinema_Info.ViewModel.DetailArtisFilmViewModel>)ViewData["artis"];
}


<div class="row">
    <div class="col-md-6">
        <div class="kt-widget4 kt-widget4--sticky">
            <div class="kt-widget4__items kt-widget4__items--bottom kt-portlet__space-x kt-margin-b-20">
                <div class="kt-widget4__item">
                    <div class="kt-widget4__info">
                        <a href="#" class="kt-widget4__title">
                            @Model.nama_film
                        </a>
                    </div>
                </div>
                <div class="kt-widget4__item">
                    <div class="kt-widget4__info">
                        <a href="#" class="kt-widget4__text">
                            Dirilis pada @Model.tahun_rilis.ToString("dd MMMM, yyyy")
                        </a>
                    </div>
                </div>
                <div class="kt-widget4__item">
                    <div class="kt-widget4__info">
                        <a href="#" class="kt-widget4__text">
                            Pendapatan sebesar @Model.pendapatan_str
                        </a>
                    </div>
                </div>
                <div class="kt-widget4__item">
                    <div class="kt-widget4__info">
                        <a href="#" class="kt-widget4__text">
                            Dinominasikan sebanyak @Model.nominasi kali
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <ul class="nav nav-tabs nav-tabs-line" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#kt_portlet_base_demo_1_tab_content" role="tab">
                    Cast
                </a>
            </li>
        </ul>
        <div class="kt-widget4 kt-widget4--sticky">
            <div class="kt-widget4">
                <div class="tab-content">
                    <div class="tab-pane active" id="kt_portlet_base_demo_1_tab_content" role="tabpanel">
                        <div class="row">
                            @if (artis.Count() != 0)
                            {
                                foreach (var item in artis)
                                {
                                    <div class="col">
                                        <div class="kt-widget4__item">
                                            <div class="kt-widget4__info">
                                                <a href="#" class="kt-widget4__username">
                                                    @item.nama_artis
                                                </a>
                                                <p class="kt-widget4__text">
                                                    sebagai @item.peran
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
