﻿
@{
    ViewBag.Title = "Movie Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-container  kt-container--fluid ">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">Movie</h3>

        </div>
        <div class="kt-subheader__toolbar">
            <a href="#" class="btn btn-label-brand btn-bold" onclick="AddFilm()">
                Tambahkan Data Film
            </a>
        </div>
    </div>
</div>

<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div id="content_page">

    </div>
</div>

<div class="modal fade" id="kt_modal_4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="kt_modal_4_label">New message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body" id="kt_modal_4_body">

            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="kt_modal_42" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="kt_modal_42_label">New message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body" id="kt_modal_42_body">

            </div>

        </div>
    </div>
</div>


@section Scripts
{
    <script type="text/javascript">
        var progHtml = '<div class="progress progress-striped active" style="margin-bottom:0"><div class="progress-bar progress-bar-striped" style="width:100%"/></div></div>';
        var Last_Record_Per_Page;
        var rpp;

        $(document).ready(function () {
            ShowList(1, "");
        });

        function AddFilm() {
            $("#kt_modal_4").modal("show");
            $("#kt_modal_4_label").text("Tambahkan Film");
            $("#kt_modal_4_body").html(progHtml);
            $.ajax({
                url: '@Url.Action("Create","Film")',
                type: 'get',
                success: function (result) {
                    $("#kt_modal_4_body").html(result);
                }
            });
        }

        function ShowList(pPage, pSearch) {
            Last_Record_Per_Page = rpp == undefined ? 20 : rpp;
            $("#content_page").html(progHtml);
            $.ajax({
                url: '@Url.Action("List","Film")',
                type: 'get',
                data: {
                    paramPage: pPage,
                    paramPageSize: Last_Record_Per_Page,
                    paramSearch: pSearch,
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    alert('An error occurred... Look at the console (F12 or Ctrl+Shift+I, Console tab) for more information!');

                    $('#content_page').html('<p>status code: '+jqXHR.status+'</p><p>errorThrown: ' + errorThrown + '</p><p>jqXHR.responseText:</p><div>'+jqXHR.responseText + '</div>');
                    console.log('jqXHR:');
                    console.log(jqXHR);
                    console.log('textStatus:');
                    console.log(textStatus);
                    console.log('errorThrown:');
                    console.log(errorThrown);
                },

                success: function (result) {
                    $("#content_page").html(result);
                }
            });
        }

        $("#txt-search").keypress(function (event) {
            if (event.keyCode == 13) {
                $("#btn-search").click();
                return false;
            }
        });

        $("#btn-search").click(function () {
            ShowList(1, $("#txt-search").val());
        });

        $("#btn-reset").click(function () {
            $("#txt-search").val("");
            ShowList(1, "");
        });
    </script>
}

<style>
    .example-open .modal-backdrop {background-color:red;}
</style>