﻿@model IEnumerable<_03.Cinema_Info.ViewModel.FilmViewModel>

@using _03.Cinema_Info.ViewModel;

@{
    PagingModel_Film _page = (PagingModel_Film)ViewData["pg"];
}

@if (Model.Count() != 0)
{
    foreach (var item in Model)
    {
        <div class="kt-portlet kt-portlet--height-fluid">
            <div class="kt-portlet__head kt-portlet__head--noborder">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        @item.nama_film
                    </h3>
                </div>
                <div class="kt-portlet__head-toolbar">
                    <div class="kt-widget__contact">
                        @*<span class="kt-widget__label">@item.tahun_rilis.ToString("yyyy")</span>*@
                    </div>
                </div>
            </div>
            <div class="kt-portlet__body">

                <!--begin::Widget -->
                <div class="kt-widget kt-widget--user-profile-2">
                    <div class="kt-widget__head">
                        <div class="kt-widget__info">
                            <a class="kt-widget__desc" href="#">
                            </a>
                        </div>
                    </div>
                    <div class="kt-widget__body">
                        <div class="kt-widget__item">
                            <div class="kt-widget__contact">
                                <span class="kt-widget__label">Pendapatan :</span>
                                <span class="kt-widget__data">
                                    @item.pendapatan_str
                                </span>
                            </div>
                            <div class="kt-widget__contact">
                                <span class="kt-widget__label">Tanggal Rilis :</span>
                                <span class="kt-widget__data">
                                    @item.tahun_rilis.ToString("dd MMMM, yyyy")
                                </span>
                            </div>
                            <div class="kt-widget__contact" hidden>
                                <span class="kt-widget__label">Produser :</span>
                                <span class="kt-widget__data">
                                    -
                                </span>
                            </div>
                            <div class="kt-widget__contact" hidden>
                                <span class="kt-widget__label">Artis :</span>
                                <span class="kt-widget__data">
                                    -
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="kt-portlet__foot--sm">
                        <div class="kt-portlet__head-toolbar">
                            <div class="kt-portlet__head-actions">
                                <a href="#" class="btn btn-outline-warning btn-sm kt-margin-5" onclick="AddArtis(@item.id_film_pk)">
                                    Tambahkan Artis
                                </a>
                                <a href="#" class="btn btn-outline-brand btn-sm kt-margin-5" onclick="Detail(@item.id_film_pk)">
                                    Detail
                                </a>

                            </div>
                        </div>
                    </div>
                </div>

                <!--end::Widget -->
            </div>
        </div>

    }
}
else
{
    <div class="kt-portlet kt-portlet--height-fluid">
        <div class="kt-portlet__head kt-portlet__head--noborder">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                    Data Kosong
                </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
            </div>
        </div>
    </div>
}

<div class="kt-portlet kt-portlet--height-fluid">
    <div class="kt-portlet__body kt-portlet__body--fit">
        <table style="width:100%">
            <tr>
                @* ini untuk paging *@
                @if (_page != null)
                {
                    if (_page.EndPage > 1)
                    {
                        <td style="background-color:white;border:none">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2"></div>
                                <div class="col-auto">
                                    <ul class="pagination" style="margin:0px">
                                        @if (_page.CurrentPage > 1)
                                        {
                                            <li>
                                                <a class="btn btn-brand btn-elevate btn-icon-sm"
                                                   href="#" onclick="PageMove((@_page.CurrentPage - 1));">
                                                    Previous
                                                </a>
                                            </li>
                                        }

                                        @if (_page.CurrentPage < _page.TotalPages)
                                        {
                                            <li>
                                                <a class="btn btn-brand btn-elevate btn-icon-sm"
                                                   href="#" onclick="PageMove(@_page.CurrentPage + 1);">
                                                    Next
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </td>
                    }
                }
            </tr>
        </table>
    </div>
</div>


<script type="text/javascript">

    $(document).ready(function () {
    });

    function PageMove(pPage) {
        ShowListCreated(pPage, $("#txt-search").val());
    };

    function Detail(pIdFilm) {
        $("#kt_modal_4").modal("show");
        $("#kt_modal_4_label").text("Detail Film");
        $("#kt_modal_4_body").html(progHtml);
        $.ajax({
            url: '@Url.Action("Detail","Film")',
            type: 'get',
            data: { idFilm: pIdFilm },
            success: function (result) {
                $("#kt_modal_4_body").html(result);
            }
        });
    }
    function AddArtis(pIdFilm) {
        $("#kt_modal_4").modal("show");
        $("#kt_modal_4_label").text("Tambahkan Artis");
        $("#kt_modal_4_body").html(progHtml);
        $.ajax({
            url: '@Url.Action("AddToFilm","Artis")',
            type: 'get',
            data: { idFilm: pIdFilm },
            success: function (result) {
                $("#kt_modal_4_body").html(result);
            }
        });
    }

    function DeleteDisposisi(idDisposisi) {
        swal({
            title: "Anda yakin?",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
        .then((willDelete) => {
            if (willDelete) {
                $.ajax({
                    url: '/Disposisi/Delete',
                    type: 'get',
                    data: { idDispo: idDisposisi },
                    success: function (result) {
                        if (result.success) {
                            swal("Item berhasil dihapus!", {
                                icon: "success",
                            });
                            if ($("#id_tahta").val() == 1) {
                                ShowListDisposisi(pageNow, $("#txt-search").val());
                            }
                            else {
                                ShowListCreated(pageNow, $("#txt-search").val());
                            }
                        }
                        else {
                            swal("Item gagal dihapus!", {
                                icon: "error",
                            });
                        }

                    }
                });
            }
        });
    }
    
</script>

