﻿
@{
    IEnumerable<_03.Cinema_Info.ViewModel.NegaraViewModel> Negara = (IEnumerable<_03.Cinema_Info.ViewModel.NegaraViewModel>)ViewData["Negara"];
}
<div class="row">
    <div class="col">
        <div class="form-group">
            <label class="label-form">Nama Artis *</label>
            <div class="input-group">
                <input type="text" name="nama_artis" class="form-control required" id="nama_artis"
                       data-warning-target="nama_artis-warning" />
            </div>
            <span id="nama_artis-warning" style="color:red ; font-size: 12px"></span>
        </div>
    </div>

    <div class="col">
        <div class="form-group">
            <label class="label-form">Jenis Kelamin *</label>
            <select class="form-control slct-text required readonly-replace"
                    data-warning-target="jenis_kelamin-warning" id="jenis_kelamin" name="jenis_kelamin">
                <option value="" selected disabled hidden>Pilih</option>
                <option value="P">Perempuan</option>
                <option value="L">Laki-laki</option>
            </select>
            <span id="jenis_kelamin-warning" style="color:red ; font-size: 12px"></span>
        </div>
    </div>


    <div class="col">
        <div class="form-group">
            <label class="label-form">Bayaran *</label>
            <div class="input-group">
                <input type="text" name="bayaran" class="form-control required" id="bayaran"
                       data-warning-target="bayaran-warning" />
            </div>
            <span id="bayaran-warning" style="color:red ; font-size: 12px"></span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="form-group">
            <label class="label-form">Jumlah Penghargaan *</label>
            <div class="input-group">
                <input type="text" name="award" class="form-control required" id="award"
                       data-warning-target="award-warning" />
            </div>
            <span id="award-warning" style="color:red ; font-size: 12px"></span>
        </div>
    </div>

    <div class="col">
        <div class="form-group">
            <label class="label-form">Negara *</label>
            <select class="form-control slct-text required readonly-replace"
                    data-warning-target="id_negara-warning" id="id_negara" name="id_negara">
                <option value="" selected disabled hidden>Pilih</option>
                @foreach (var item in Negara)
                {
                    <option value="@item.id_negara_pk">@item.nama_negara</option>
                }
            </select>
            <a href="@Url.Action("Index", "Negara")">tambahkan negara lain jika tidak ada</a>
            <span id="id_negara-warning" style="color:red ; font-size: 12px"></span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <a href="#" class="btn btn-primary" id="" onclick="submitForm()">Tambahkan</a>
    </div>
</div>

<script type="text/javascript">
    var Vocab = Vocab || {};
    Vocab.InputRequired = "This input is required";
    Vocab.InputFormatFalse = "Tidak sesuai format";

    $(document).ready(function () {
    });

    function submitForm() {
        if (CheckValidation()) {
            var byrn = TrimRupiah();
            var item = {
                nama_artis: $("#nama_artis").val(),
                jenis_kelamin: $("#jenis_kelamin").val(),
                bayaran: byrn,
                award: $("#award").val(),
                id_negara: $("#id_negara").val()
            };
            $.ajax({
                url: '@Url.Action("Add","Artis")',
                type: 'post',
                data: { paramModel: item },
                success: function (result) {
                    if (result.success) {
                        ShowList(1, "");
                        swal("Berhasil Ditambahkan!", {
                            icon: "success",
                        });
                        $("#kt_modal_4").modal("hide");
                    }
                    else {
                        swal("Gagal!", {
                            icon: "error",
                        });
                    }
                }
            });
        }

    }

    function CheckValidation() {
        var valid = true;

        $(".required").each(function (i) {
            if ($(this).val() === "" || $(this).val() == null) {
                $("#" + $(this).data("warning-target")).text(Vocab.InputRequired);
                valid = false;
            } else {
                $("#" + $(this).data("warning-target")).text("");
            }
        })

        valid = valid && CheckNamaArtis();

        return valid;
    }

    function CheckNamaArtis() {
        var nm = $("#nama_artis").val();
        var jenis_kelamin = $("#jenis_kelamin").val();
        var id_negara = $("#id_negara").val();
        var result = true;
        $.ajax({
            async: false,
            url: '@Url.Action("CheckNamaArtis", "Artis")',
            type: 'get',
            data: { nama: nm, jk: jenis_kelamin, idN : id_negara },
            success: function (result) {
                if (result.success) {
                    $("#nama_artis-warning").text("");
                }
                else {
                    $("#nama_artis-warning").text("nama artis dengan jenis kelamin dan negara yang sama sudah pernah ditambahkan");
                }
            }
        });

        if ($("#nama_artis-warning").text() == "") {
            result = true;
        }
        else {
            result = false;
        }
        return result;
    }

    var rupiah = document.getElementById('bayaran');

    rupiah.addEventListener('keyup', function (e) {
		// tambahkan 'Rp.' pada saat form di ketik
		// gunakan fungsi formatRupiah() untuk mengubah angka yang di ketik menjadi format angka
        rupiah.value = formatRupiah(this.value, 'Rp. ');
    });

    /* Fungsi formatRupiah */
    function formatRupiah(angka, prefix) {
		var number_string = angka.replace(/[^,\d]/g, '').toString(),
		split   		= number_string.split(','),
		sisa     		= split[0].length % 3,
		rupiah     		= split[0].substr(0, sisa),
		ribuan     		= split[0].substr(sisa).match(/\d{3}/gi);

		// tambahkan titik jika yang di input sudah menjadi angka ribuan
		if(ribuan){
			separator = sisa ? '.' : '';
			rupiah += separator + ribuan.join('.');
		}

		rupiah = split[1] != undefined ? rupiah + ',' + split[1] : rupiah;
        return prefix == undefined ? rupiah : (rupiah ? 'Rp. ' + rupiah : '');
    }

    function TrimRupiah() {
        //Rp. 60.000.000
        var str = $("#bayaran").val();
        var res = str.replace(/R|p|\.| /g, "");

        //var res = str.replace("R", "");
        //var result = res;

        //res = result.replace("p", "");
        //result = res;

        //res = result.replace(/\./g, "");
        //result = res;

        //res = result.replace(" ", "");
        //result = res;

        //return result;
        return res;
    }
</script>


