﻿@{
    int idFilm = ViewBag.idFilm;
    int idArtis = ViewBag.idArtis;
    string judul = ViewBag.judulFilm;
    string nama = ViewBag.namaArtis;
}
<h6>Masukkan peran yang dimainkan <b>@nama</b> dalam film "@judul"</h6>
<div class="row">
    <input hidden value="@idArtis" id="id_artis" />
    <input hidden value="@idFilm" id="id_film" />
    <div class="col">
        <div class="form-group">
            <div class="input-group">
                <input type="text" name="peran" class="form-control required" id="peran"
                       data-warning-target="peran-warning" />
            </div>
            <span id="peran-warning" style="color:red ; font-size: 12px"></span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <a href="#" class="btn btn-primary" id="" onclick="SubmitArtis()">Tambahkan</a>
    </div>
</div>

<script type="text/javascript">
    function SubmitArtis() {
        if (CheckValidation()) {
            var item = {
                id_film: $("#id_film").val(),
                id_artis: $("#id_artis").val(),
                peran: $("#peran").val(),
            };
            $.ajax({
                url: '@Url.Action("AddToFilm","Artis")',
                type: 'post',
                data: { paramModel: item },
                success: function (result) {
                    if (result.success) {
                        ShowList(1, "");
                        swal("Berhasil Ditambahkan!", {
                            icon: "success",
                        });
                        $("#kt_modal_42").modal("hide");
                        $("#kt_modal_4").modal("hide");
                    }
                    else {
                        swal("Gagal!", {
                            icon: "error",
                        });
                    }
                }
            });
        }

    }

    function CheckValidation() {
        var valid = true;

        $(".required").each(function (i) {
            if ($(this).val() === "" || $(this).val() == null) {
                $("#" + $(this).data("warning-target")).text("Peran harus diisi");
                valid = false;
            } else {
                $("#" + $(this).data("warning-target")).text("");
            }
        })
        return valid;
    }
</script>
