﻿@model IEnumerable<_03.Cinema_Info.ViewModel.ArtisViewModel>

@{
    int idFilm = ViewBag.idFilm;
    string judul = ViewBag.judulFilm;
    int jumlahBelumAda = Model.Where(o => (bool)o.belum_masuk_list).Count();
}

@if (jumlahBelumAda != 0)
{
    <div class="kt-quick-search kt-quick-search--dropdown kt-quick-search--result-compact kt-quick-search--has-result" hidden>
        <form class="kt-quick-search__form">
            <div class="input-group">
                <input type="text" class="form-control kt-quick-search__input"
                       placeholder="Search for..." aria-label="Search"
                       aria-describedby="basic-addon2"
                       id="txt-search-artis" name="txt-search-artis">
                <div class="input-group-append">
                    <button class="btn btn-pill btn-upper btn-bold btn-font-sm kt-subheader-search__submit-btn"
                            type="button" id="btn-search-artis" name="btn-search-artis">
                        <i class="flaticon2-search-1"></i>
                    </button>
                    <button class="btn btn-pill btn-upper btn-bold btn-font-sm kt-subheader-search__submit-btn"
                            type="button" id="btn-reset-artis" name="btn-reset-artis">
                        <i class="la la-close"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <h6>Pilih Artis untuk ditambahkan ke daftar pemain film "@judul"</h6>
    <br />
    foreach (var item in Model)
    {
        <div class="kt-widget29__content kt-margin-t-0 kt-padding-t-0">
            @if ((bool)item.belum_masuk_list)
            {
                <span class="kt-widget29__subtitle">
                    <a href="#" class="kt-widget__data" onclick="TambahkanArtis(@idFilm, @item.id_artis_pk)">@item.nama_artis</a>
                    <small>(@item.nama_negara)</small>
                </span>
                <br />
                <br />
            }
        </div>
    }
}
else
{
    <h6>Belum ada data</h6>
    <br />
}
<div class="row">
    <div class="col-md-3">
        <a href="@Url.Action("Index", "Artis")" class="btn btn-primary" title="Jika nama artis tidak ada dalam list">Tambahkan Artis</a>
    </div>
</div>

<script type="text/javascript">
    function TambahkanArtis(pidFilm, pidArtis) {
        $("#kt_modal_42").modal("show");
        $("#kt_modal_42_label").text("Peran yang dimainkan");
        $("#kt_modal_42_body").html(progHtml);
        $.ajax({
            url: '@Url.Action("AddPeran","Artis")',
            type: 'get',
            data: { idFilm: pidFilm, idArtis: pidArtis },
            success: function (result) {
                $("#kt_modal_42_body").html(result);
            }
        });
    }
</script>