﻿@model IEnumerable<_03.Cinema_Info.ViewModel.ArtisViewModel>

@using _03.Cinema_Info.ViewModel;

@{
    PagingModel_Artis _page = (PagingModel_Artis)ViewData["pg"];
}

@if (Model.Count() != 0)
{
    foreach (var item in Model)
    {
        <div class="kt-widget29__content kt-margin-t-0 kt-padding-t-0">
            <h6 class="kt-widget29__title">
                <a href="#" class="kt-widget__data" onclick="">@item.nama_artis</a>
                <small>(@item.nama_negara)</small>
            </h6>
        </div>
        <br />
    }
}
else
{
    <div class="kt-portlet kt-portlet--height-fluid">
        <div class="kt-portlet__head kt-portlet__head--noborder">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                    Data Kosong
                </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
            </div>
        </div>
    </div>
}

<div class="kt-portlet kt-portlet--height-fluid">
    <div class="kt-portlet__body kt-portlet__body--fit">
        <table style="width:100%">
            <tr>
                @* ini untuk paging *@
                @if (_page != null)
                {
                    if (_page.EndPage > 1)
                    {
                        <td style="background-color:white;border:none">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2"></div>
                                <div class="col-auto">
                                    <ul class="pagination" style="margin:0px">
                                        @if (_page.CurrentPage > 1)
                                        {
                                            <li>
                                                <a class="btn btn-brand btn-elevate btn-icon-sm"
                                                   href="#" onclick="PageMove((@_page.CurrentPage - 1));">
                                                    Previous
                                                </a>
                                            </li>
                                        }

                                        @if (_page.CurrentPage < _page.TotalPages)
                                        {
                                            <li>
                                                <a class="btn btn-brand btn-elevate btn-icon-sm"
                                                   href="#" onclick="PageMove(@_page.CurrentPage + 1);">
                                                    Next
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </td>
                    }
                }
            </tr>
        </table>
    </div>
</div>


<script type="text/javascript">

    $(document).ready(function () {

    });

    function PageMove(pPage) {
        ShowList(pPage, $("#txt-search").val());
    };    

    function DeleteDisposisi(idDisposisi) {
        swal({
            title: "Anda yakin?",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
        .then((willDelete) => {
            if (willDelete) {
                $.ajax({
                    url: '/Disposisi/Delete',
                    type: 'get',
                    data: { idDispo: idDisposisi },
                    success: function (result) {
                        if (result.success) {
                            swal("Item berhasil dihapus!", {
                                icon: "success",
                            });
                            if ($("#id_tahta").val() == 1) {
                                ShowListDisposisi(pageNow, $("#txt-search").val());
                            }
                            else {
                                ShowListCreated(pageNow, $("#txt-search").val());
                            }
                        }
                        else {
                            swal("Item gagal dihapus!", {
                                icon: "error",
                            });
                        }

                    }
                });
            }
        });
    }

    function detailDisposisi(pIdDispo, pIdOrganisasi) {
            $("#kt_modal_4").modal("show");
            $("#kt_modal_4_label").text("Detail Disposisi");
            $("#kt_modal_4_body").html(progHtml);
            $.ajax({
                url: '@Url.Action("Detail_Disposisi","Disposisi")',
                type: 'get',
                data: { paramDispo: pIdDispo, paramIdOrganisasi: pIdOrganisasi },
                success: function (result) {
                    $("#kt_modal_4_body").html(result);
                }
            });
        }
</script>


