﻿<div class="row">
    <div class="col">
        <div class="form-group">
            <label class="label-form">Nama Negara *</label>
            <div class="input-group">
                <input type="text" name="nama_negara" class="form-control required" id="nama_negara"
                       data-warning-target="nama_negara-warning" />
            </div>
            <span id="nama_negara-warning" style="color:red ; font-size: 12px"></span>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-3">
        <a href="#" class="btn btn-primary" id="" onclick="submitNegara()">Tambahkan</a>
    </div>
</div>

<script type="text/javascript">
    var Vocab = Vocab || {};
    Vocab.InputRequired = "This input is required";

    $(document).ready(function () {
    });

    function submitNegara() {
        if (CheckValidation()) {
            var item = {
                nama_negara: $("#nama_negara").val(),
            };
            $.ajax({
                url: '@Url.Action("Add","Negara")',
                type: 'post',
                data: { paramModel: item },
                success: function (result) {
                    if (result.success) {
                        ShowList(1, "");
                        swal("Berhasil Ditambahkan!", {
                            icon: "success",
                        });
                        $("#kt_modal_4").modal("hide");
                    }
                    else {
                        swal("Gagal!", {
                            icon: "error",
                        });
                    }
                }
            });
        }

    }

    function CheckValidation() {
        var valid = true;

        $(".required").each(function (i) {
            if ($(this).val() === "" || $(this).val() == null) {
                $("#" + $(this).data("warning-target")).text(Vocab.InputRequired);
                valid = false;
            } else {
                $("#" + $(this).data("warning-target")).text("");
            }
        })

        valid = valid && CheckNegara();

        return valid;
    }

    function CheckNegara() {
        var nm = $("#nama_negara").val();
        var result = true;
        $.ajax({
            async: false,
            url: '@Url.Action("CheckNegara", "Negara")',
            type: 'get',
            data: { nama: nm},
            success: function (result) {
                if (result.success) {
                    $("#nama_negara-warning").text("");
                }
                else {
                    $("#nama_negara-warning").text("nama negara sudah pernah ditambahkan");
                }
            }
        });

        if ($("#nama_negara-warning").text() == "") {
            result = true;
        }
        else {
            result = false;
        }
        return result;
    }
    
</script>
